/* sidebar in navigation */
@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }
}

/* SetColor */
:root {
    --colBlack: #0d0d0d;
    --colDarkGray: #3d535f;
    --colGray: #eff0f3;
    --colWhite: #fffffe;
    --colOrange: #ff8e3c;
    --colRed: #d9376e;
    --colCoral: #F88379;
    --colCharcoal: #FBE5C0;
    --colSerenity: #D0E6F0;
}
/* nav */
#nav {
    background: white;
}
/* footer */
.footer {
    background: var(--colCharcoal);
    padding: 70px 0;
    line-height: 1.5;
    height: 250px;
}
.footer .logo {
    max-width: auto;
    height: 100px;
}
.footer .container {
    max-width: 1170px;
    background: var(--colCharcoal);
    margin: auto;
}

.footer ul {
    list-style: none;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer .footer-col h4 {
    font-size: 18px;
    color: var(--colDarkGray);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--colCoral);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--colDarkGray);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover {
    color: var(--colRed);
    padding-left: 8px;
}

.footer .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* responsive for footer */
/*responsive*/
@media(max-width: 767px) {
    .footer .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer .footer-col {
        width: 100%;
    }
}
/* contact page */
.mainscreen .contact {
    margin-top: 10px;
}
/* Announcement Page */
.announcement.page .small-title {
    background-color: var(--colGray);
}

.announcement.page .small-body {
    background-color: var(--colGray);
}

.image-layout {
    margin: 30px;
}

.image-layout .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-layout .image {
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.image-layout .image img {
    opacity: 1;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
    width: 460px;
}

.image-layout .image:hover img {
    opacity: 0.3;
}

.image-layout .image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--colBlack);
    width: 100%;
    height: 100%;
}

.image-layout .image .details h2 {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.image-layout .image .details h2 span {
    font-weight: 900;
}

.image-layout .image:hover .details h2 {
    transform: translateY(-30px);
}

.image-layout .image .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.image-layout .image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.image-layout .more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image-layout .image:hover .more {
    bottom: 0;
}

.image-layout .more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.image-layout .more .read-more span {
    font-weight: 900;
}

.image-layout .more .icon-links i {
    color: #000;
    font-size: 20px;
}

.image-layout .more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

/* .image-layout */

/* Reponsize Announcement Page */
@media (max-width: 1080px) {
    .image-layout .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image-layout .image .details p {
        font-size: 16px;
    }

    .image-layout .more,
    .image-layout .more .icon-links a svg {
        font-size: 18px;
    }
}

/* Lecture Page */
.announcement.page .title,
.lecture.page .title {
    margin-top: 100px;
}

.lecture.page .card-img-top {
    height: 150px;
    width: 305px;
}

.lecture.page .para {
    font-size: 14px;
}

/* Paragrah for introduce lectures */
.para_introduce_lecture {
    font-size: 16px;
}

/* Mainscreen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* sections */
#profile section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile .section-container {
    display: flex;
}

/* profile section */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

#profile .section_pic-container {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto 30px;
}

#profile .section_text {
    align-self: center;
    text-align: center;
}

#profile .section_text p {
    font-weight: 600;
}

#profile .section_text_p1 {
    text-align: center;
    color: var(--colDarkGray);
}

#profile .section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--colRed);
}

#profile .title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--colRed);
}

/* buttons */
#profile .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#profile .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

#profile .btn-color-1:hover,
#profile .btn-color-2:hover {
    cursor: pointer;
}

#profile .btn-color-1,
#profile .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

#profile .btn-color-1:hover {
    background: rgb(0, 0, 0);
}

#profile .btn-color-2 {
    background: none;
}

#profile .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

#profile .btn-container {
    gap: 1rem;
}

/* Reponsize main page */
@media (max-width: 1224px) {
    #profile .section_pic-container {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 820px) {
    #profile .section_text_p2 {
        font-size: 1.5rem;
    }

    #profile .title {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    #profile .section_text_p2 {
        font-size: 1rem;
    }

    #profile .title {
        font-size: 2rem;
    }

    #profile .section_pic-container img {
        height: 300px;
        width: auto;
    }
}

@media (max-width: 700px) {
    #profile {
        display: grid;
        grid-template-columns: auto-fit;
    }
}